.error {
  color: #f70000;
  background-color: rgb(255, 174, 211);
  border: 2px solid red;
  padding: 8px;
  margin: 1.5px
}

.success {
  color: green;
  background-color: rgb(192, 247, 203);
  border: 2px solid green;
  padding: 8px;
  margin: 1.5px
}